* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

del {
  text-decoration: line-through;
  color: #555;
}

.wrap {
  width: 1226px;
  margin: 0 auto;
}

// header
.header {
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: #333;
  font-size: 12px;
  .header-left {
    float: left;
    .triangle {
      display: none;
      position: absolute;
      bottom: 0;
      left: 50%;
      margin-left: -8px;
      width: 0;
      height: 0;
      border-bottom: 8px solid #fff;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
    }
    li:hover > .triangle {
      display: block;
    }
    li:hover > .download {
      height: 148px;
    }
    .download {
      position: absolute;
      top: 40px;
      left: 50%;
      margin-left: -62px;
      width: 124px;
      height: 0;
      line-height: 10px;
      text-align: center;
      background-color: #fff;
      box-shadow: 0 1px 5px #ccc;
      overflow: hidden;
      transition: all 0.5s;
      z-index: 10;
      img {
        width: 90px;
        margin: 18px 17px 12px;
      }
      p {
        color: #333;
        font-size: 14px;
      }
    }
  }

  li {
    position: relative;
    float: left;

    a {
      color: #b0b0b0;
      &:hover {
        color: #fff;
      }
    }
    span {
      color: #424242;
      margin: 0.3rem;
    }
  }
  .header-right {
    float: right;
  }
  .cart {
    position: relative;
    width: 120px;
    height: 40px;
    margin-left: 25px;
    background-color: #424242;
    text-align: center;
    cursor: pointer;
    transition: all 1s;

    &:hover {
      background-color: #fff;
      a {
        color: #ff6700;
      }
      i {
        margin-right: 4px;
        font-weight: 900;
      }
    }
    .cart-list {
      position: absolute;
      top: 40px;
      right: 0;
      width: 316px;
      height: 0;
      background-color: #fff;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
      color: #424242;
      transition: all 0.5s;
      overflow: hidden;
      z-index: 10;
    }
    &:hover > .cart-list {
      height: 100px;
      line-height: 100px;
    }
  }
}

// nav
.nav {
  position: relative;
  width: 100%;
  height: 100px;
  background-color: #fff;
  .logo {
    width: 62px;
    height: 56px;
    margin-top: 22px;
    float: left;
    text-align: left;
    img {
      &:hover {
        transform: translateX(3px);
      }
    }
  }

  .search {
    position: relative;
    width: 296px;
    height: 50px;
    float: left;
    margin-top: 25px;

    input {
      float: left;
      width: 245px;
      height: 50px;
      border: 1px solid #e0e0e0;
      padding: 0 10px;
      outline: none;
      transition: all 0.2s;
      &:hover {
        border-color: #b0b0b0;
      }
      &:focus {
        border-color: #ff6700;
      }
    }

    input:hover + a {
      border-color: #b0b0b0;
    }
    input:focus + a {
      border-color: #ff6700;
    }
    > a {
      float: left;
      width: 50px;
      height: 50px;
      border: 1px solid #e0e0e0;
      font-size: 24px;
      color: #616161;
      line-height: 48px;
      text-align: center;
      border-left: none;
      transition: all 0.2s;

      &:hover {
        background-color: #ff6700;
        border-color: #ff6700;
        color: #fff;
        transition: all 0.2s;
      }
    }
    .search-list {
      position: absolute;
      top: 50px;
      left: 0;
      width: 245px;
      height: 241px;
      border: 1px solid #ff6700;
      border-top: none;
      background-color: #fff;
      display: none;
      z-index: 9;
      > a {
        width: 243px;
        height: 30px;
        padding: 6px 15px;
        display: block;
        color: #424242;
        font-size: 12px;
        text-align: left;
        &:hover {
          background-color: #f5f5f5;
        }
      }
    }
    input:focus ~ .search-list {
      display: block;
    }
  }

  .nav-bar {
    width: 868px;
    height: 100px;
    float: left;
    padding-left: 172px;

    li {
      float: left;
      padding: 38px 10px;

      a {
        color: #333;
        &:hover {
          color: #ff6700;
        }
      }
      .nav-bar-list {
        position: absolute;
        left: 0;
        top: 100px;
        width: 100%;
        height: 229px;
        background-color: #fff;
        border-top: 1px solid #e0e0e0;
        box-shadow: 0 3px 4px rgba(0, 0, 0, 0.18);
        display: none;
        z-index: 9;
        li {
          float: left;
          width: 204px;
          padding-top: 35px;
          .img-box {
            width: 100%;
            height: 110px;
            border-right: 1px solid #e0e0e0;
            margin-bottom: 16px;
          }
          .name1 {
            color: #333;
            font-size: 12px;
            line-height: 20px;
            text-align: center;
          }
          .price1 {
            color: #ff6700;
            font-size: 12px;
            line-height: 20px;
            text-align: center;
          }
        }
        li:last-child .img-box {
          border-right: none;
        }
      }
    }
    li:hover > .nav-bar-list {
      display: block;
    }
  }
}

// banner
.banner {
  width: 100%;
  height: 460px;
  > .wrap {
    position: relative;
    .banner-box {
      width: 1226px;
      height: 460px;
      background-image: url(../IMG/輪播1.jpg);
      background-size: 100%;
      animation: banner 10s ease-in 1s infinite;
      &:hover {
        animation-play-state: paused;
      }
      @keyframes banner {
        0% {
          background-image: url(../IMG/輪播1.jpg);
        }
        25% {
          background-image: url(../IMG/輪播2.webp);
        }
        50% {
          background-image: url(../IMG/輪播3.webp);
        }
        75% {
          background-image: url(../IMG/輪播4.webp);
        }
      }
    }
    // 左側滑動選單
    .slide {
      position: absolute;
      left: 0;
      top: 0;
      width: 234px;
      height: 460px;
      padding: 20px 0;
      background-color: rgba(105, 101, 101, 0.6);
      li {
        height: 42px;
        line-height: 42px;
        padding-left: 30px;
        &:hover {
          background-color: #ff6700;
        }
        a {
          color: #fff;
          font-size: 14px;
          i {
            float: right;
            margin-right: 20px;
          }
        }
        // 滑動選單內容
        .slide-list {
          display: none;
          position: absolute;
          top: 0;
          left: 234px;
          width: 992px;
          height: 460px;
          background-color: #fff;
          border: 1px solid #e0e0e0;
          border-left: none;
          padding-top: 2px;
          box-shadow: 0 8px 16px rgba0, 0, 0, rgba(0, 0, 0, 0.18);
          z-index: 7;
          ul {
            width: 247px;
            float: left;
            li {
              width: 100%;
              height: 76px;
              background-color: #fff;
              padding: 18px 0 18px 20px;
              img {
                margin-right: 12px;
                width: 40px;
              }
              span {
                line-height: 40px;
                font-size: 14px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                color: #333;
                vertical-align: top;
              }
            }
          }
        }
        .slide-list1 {
          width: 745px;
        }
        .slide-list2 {
          width: 497px;
        }
      }

      li:hover > .slide-list {
        display: block;
      }
    }
    .prev,
    .next {
      position: absolute;
      top: 50%;
      margin-top: -34.5px;
      width: 41px;
      height: 69px;
      background-image: url(../IMG/icon-slides.png);
      cursor: pointer;
    }
    .prev {
      left: 234px;
      background-position: -83px;
      &:hover {
        background-position: 0;
      }
    }
    .next {
      right: 0;
      background-position: -124px;
      &:hover {
        background-position: -42px;
      }
    }
    .dot {
      position: absolute;
      width: 400px;
      height: 10px;
      right: 30px;
      bottom: 20px;
      text-align: right;

      a {
        display: inline-block;
        width: 10px;
        height: 10px;
        border: 2px solid #fff;
        border-color: hsla(0, 0%, 100%, 0.3);
        border-radius: 10px;
        overflow: hidden;
        background: rgba(0, 0, 0, 0.4);
        opacity: 0.8;
        margin: 0px 4px;
        margin-bottom: 4px;
        transition: all 0.2s;

        &:hover {
          background-color: rgba(243, 243, 243, 0.7);
          border-color: rgba(105, 101, 101, 0.6);
        }
      }
    }
  }
}

//adv
.adv {
  width: 100%;
  height: 170px;
  margin: 14px 0 26px;
  .adv-aside {
    width: 234px;
    height: 170px;
    padding: 3px;
    background-color: #5f5750;
    float: left;
    li {
      position: relative;
      float: left;
      width: 76px;
      height: 82px;
      padding: 19px 0;

      a {
        display: block;
        color: #fff;
        font-size: 12px;
        opacity: 0.7;
        transition: all 0.2s;
        text-align: center;
        &:hover {
          opacity: 1;
        }
        img {
          display: block;
          width: 24px;
          margin: 0 auto 4px;
        }
      }
    }
    .row ::after,
    .col ::before {
      position: absolute;
      content: "";
      background-color: #665e57;
    }

    .row ::after {
      bottom: 0;
      left: 6px;
      height: 1px;
      width: 64px;
    }

    .col ::before {
      right: 0;
      top: 6px;
      width: 1px;
      height: 70px;
    }
  }

  .adv-img {
    width: 316px;
    height: 170px;
    float: left;
    margin-left: 14.6px;
    &:hover {
      box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
      transition: all 0.5s linear;
    }
    img {
      width: 100%;
      height: 170px;
    }
  }
}

.main {
  width: 100%;
  background-color: #f5f5f5;
  padding: 4px 0 12px;
  .home-banner-box {
    img {
      width: 100%;
      height: 120px;
      margin: 22px 0;
    }
  }

  .title {
    font-size: 22px;
    font-weight: 200;
    line-height: 58px;
    color: #333;
    .more {
      float: right;
      font-size: 16px;
      line-height: 58px;
      color: #424242;
      transition: all 0.4s;
      i {
        width: 12px;
        height: 12px;
        padding: 4px;
        border-radius: 50%;
        background-color: #b0b0b0;
        color: #fff;
        line-height: 12px;
        margin-left: 8px;
        transition: all 0.4s;
      }
      &:hover {
        color: #ff6700;
        i {
          background-color: #ff6700;
        }
      }
    }
  }
  .home-box {
    width: 100%;
    height: 614px;
    .home-box-left {
      width: 234px;
      height: 614px;
      float: left;
      img {
        width: 234px;
        height: 614px;
      }
    }
    .home-box-right {
      width: 992px;
      height: 614px;
      float: left;
      text-align: center;
      .items {
        width: 234px;
        height: 300px;
        background-color: #fff;
        float: left;
        margin-bottom: 14px;
        margin-left: 14px;
        .img1 {
          width: 160px;
          margin-top: 20px;
          margin-bottom: 18px;
        }
        .name2,
        .desc2 {
          width: 214px;
          margin: 0 auto;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .name2 {
          height: 21px;
          line-height: 21px;
          font-size: 14px;
          color: #333;
          margin-bottom: 2px;
        }
        .desc2 {
          height: 18px;
          line-height: 18px;
          margin: 0 auto;
          margin-bottom: 10px;
          font-size: 12px;
          color: #b0b0b0;
        }
        .price2 {
          color: #ff6700;
          font-size: 14px;
          del {
            color: #b0b0b0;
            margin-left: 7px;
          }
        }
      }
    }
  }
}
