@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1663910171481') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shouji:before {
  content: "\3448";
}

.icon-15tianwuliyoutuihuo:before {
  content: "\e606";
}

.icon-fenxiangyuejilu:before {
  content: "\e61a";
}

.icon-fangdajing:before {
  content: "\e617";
}

.icon-wodekefu:before {
  content: "\e68b";
}

.icon-jiantou2:before {
  content: "\e63e";
}

.icon-youjiantou:before {
  content: "\e658";
}

.icon-buoumaotubiao46:before {
  content: "\e629";
}

.icon-1fanhuidingbu:before {
  content: "\e619";
}

.icon-gerenzhongxin:before {
  content: "\e651";
}

.icon-duihua:before {
  content: "\e607";
}

.icon-dianhuaqia:before {
  content: "\e733";
}

.icon-jiantou-you:before {
  content: "\e62e";
}

.icon-jiantou-zuo:before {
  content: "\e62f";
}

.icon-liwu-:before {
  content: "\e6ae";
}

.icon-qitianwuliyoutuihuan:before {
  content: "\e63d";
}

.icon-dingwei:before {
  content: "\e847";
}

.icon-gouwuche:before {
  content: "\e652";
}

.icon-jiantou-you1:before {
  content: "\e6cf";
}

.icon-jiantou-you2:before {
  content: "\e631";
}

